body {
    background-color: #03045e;
}
main {
    background-color: #caf0f8;
    width: 100%;
    margin: auto;
}
h1 {
    text-align: center;
    padding-top: 10px;
    color: #ff006e;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row img {
    width: 150px;
    height: 150px;
    margin: 30px;
    border-radius: 10%;
    box-shadow: 0 0 30px 0 #03045e;
}
.image:hover img {
    opacity: 80%;
}
.row2 {
    width: 500px;
    height: 400px;
    background-color: #03045e;
    margin: 50px 330px;
    border: #0077b6 dotted 8px;
    justify-content: center;
    align-items: center;
}
.row2 img {
    width: 450px;
    height: 300px;
    margin-left: 25px;
    margin-top: 10px;
}
p {
    text-align: center;
    color: #90e0ef;
    font-size: 30px;
}
@media screen  and (max-width: 1000px) {
    .row2 {
        margin: 50px 220px;
    }
}

@media screen  and (max-width: 800px) {
    main {
        margin: 0;
    }
    .row img {
        margin: 10px;
   }
    .row2 {
        margin: 50px 130px;
    }
}
@media screen  and (max-width: 680px) {
    main {
        margin: 0;
    }
    .row {
        display: grid;
        grid-template-columns: 2fr 4fr;
        align-items: center;
    }
    .row img {
        width: 180px;
        height: 180px;
        margin: 30px 70px;
   }
    .row2 {
        margin: 50px 70px;
    }
}
@media screen  and (max-width: 580px) {
    main {
        margin: 0;
    }
    .row {
        display: grid;
        grid-template-columns: 2fr 4fr;
        align-items: center;
    }
    .row img {
        width: 180px;
        height: 180px;
        margin: 20px 45px;
   }
   .row2 {
    width: 390px;
    height: 350px; 
}
    .row2 img {
        width: 350px;
        height: 240px;
       
    }
}
@media screen  and (max-width: 430px) {
    main {
        margin: 3px;
    }
    .row {
        display: grid;
        grid-template-columns: 2fr 4fr;
        align-items: center;
    }
    .row img {
        width: 120px;
        height: 120px;
        margin: 20px 45px;
   }
   .row2 {
    width: 260px;
    height: 230px; 
    margin: 0px 60px;
}
    .row2 img {
        width: 250px;
        height: 150px;
        margin: 0px 5px;
    }
}
@media screen  and (max-width: 320px) {
    main {
        margin: 5px;
    }
    .row {
        display: grid;
        grid-template-columns: 2fr 4fr;
        align-items: center;
    }
    .row img {
        width: 120px;
        height: 120px;
        margin: 20px 25px;
   }
   .row2 {
    width: 260px;
    height: 230px; 
    margin: 0px 10px;
}
    .row2 img {
        width: 250px;
        height: 150px;
        margin: 0px 5px;
    }
}